/**loader*/

body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

@keyframes overlay {
  0% {
    width: 100vw;
    height: 100vh;
  }

  90% {
    width: 100vw;
    height: 100vh;
  }

  100% {
    display: none;
    width: 0;
    height: 100vh;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    height: 0;
    width: 0;
  }

  100% {
    transform: rotate(360deg);
    height: 150px;
    width: 150px;
  }
}

#overlay {
  animation: 3s overlay forwards;
  overflow: hidden;
  z-index: 3;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vw;
  width: 100vw;
}

.boxload {
  width: 150px;
  height: 150px;
  border: #9356dc solid 10px;
  background-color: #99e2d0;
  border-top: #ff79da solid 10px;
  border-radius: 100%;
  animation: spin 600ms linear infinite;
}
.boxload1 {
  width: 150px;
  height: 150px;
  border: #99e2d0 solid 10px;
  background-color: #ff79da;
  border-right: #9356dc solid 10px;
  border-radius: 100%;
  animation: spin 400ms linear infinite;
}

.boxload2 {
  width: 150px;
  height: 150px;
  border: #ff79da solid 10px;
  background-color: #9356dc;
  border-bottom: #99e2d0 solid 10px;
  border-radius: 100%;
  animation: spin 500ms linear infinite;
}

.boxloa {
  display: flex;
  height: 200px;
  justify-content: center;
  margin-top: 70px;
}

.habillage {
  align-items: center;
  justify-content: center;
}

.bonus {
  position: relative;
  top: -20px;
  display: flex;
  width: 100vw;
  justify-content: center;
}

.logoloader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  bottom: 40px;
  font-family: Shrikhand;
  background: linear-gradient(#9356dc, #ff79da);
  color: #99e2d0;
  width: 300px;
  height: 150px;
  border-radius: 150px/75px;
  font-size: 50px;
  animation: text 550ms infinite;
}

@keyframes text {
  0% {
    background: linear-gradient(#ff79da, #99e2d0);
  }

  30% {
    background: linear-gradient(#99e2d0#9356dc);
  }

  100% {
    background: linear-gradient(#9356dc, #ff79da);
  }
}

/**Main*/

.img {
  width: 260px;
  height: 200px;
  border-radius: 40px 40px 0 0;
}

.logo {
  font-family: Shrikhand;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: Roboto;
  height: 60px;
  background-color: #e7e9eb;
}

.localisation {
  border: none;
  background-color: #eaeaea;
  padding-left: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  width: 170px;
}

.intro {
  display: block;
  text-align: center;
  height: 230px;
  background-color: #f6f6f6;
  align-items: center;
  font-size: 25px;
  padding-bottom: 20px;
  padding-top: 40px;
  line-height: 70%;
}

.line {
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.3;
}
.titre {
  line-height: 1;
  font-weight: bold;
}

.button {
  width: 260px;
  min-height: 60px;
  border-radius: 50px 50px 50px 50px;
  background: linear-gradient(#ff79da, #9356dc);
  display: flex;
  margin: auto;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-bottom: 25px;
  margin-top: 25px;
  box-shadow: 0 8px 10px -5px grey;
}

.boxbut :hover {
  opacity: 0.8;
  box-shadow: 0 14px 10px -3px gray;
}

.button span {
  margin: auto;
}

.fonctionnement {
  height: 60px;
  background-color: white;
  display: flex;
}
.ftittle {
  font-size: 24px;
  font-weight: bold;
  margin: 35px;
  padding-bottom: 40px;
  margin-top: 30px;
}

.wrap_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  margin: 20px;
}

.wrap {
  height: 60px;
  width: 300px;
  border: solid 2px;
  background-color: #f6f6f6;
  text-align: center;
  border-radius: 21px;
  box-shadow: 0 8px 10px -5px grey;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  margin-right: 10px;
}

.wrap_pastille {
  border: solid 1px;
  border-radius: 100px;
  background-color: #9356dc;
  color: #e7e9eb;
  height: 22px;
  width: 22px;
  position: relative;
  right: 15px;
  overflow: visible;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.symb {
  color: #9356dc;
}

.fin {
  background-color: #f3eefa;
}

.wrap_pastille span {
  padding-top: 20px;
}

.wrap:hover {
  background: linear-gradient(#99e2d0, #ff79da);
}

.wrap_texte {
  padding-left: 20px;
  font-weight: 800;
}

.wrap i {
  padding-left: 15px;
}
/**restaurants*/

.greywrapper {
  background-color: #f6f6f6;
  margin-top: 30px;
  padding-bottom: 60px;
}

.Card_container {
  background-color: #f6f6f6;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-decoration: none;
}

.tittle_wrapper {
  margin: 35px;
  padding-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.card {
  height: 270px;
  width: 260px;
  background-color: white;
  font-size: 18px;
  border-radius: 40px 40px 0 0;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
  margin-right: 10px;
}

.card_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "roboto", sans-serif;
  text-align: center;
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
  color: #32b091;
  position: relative;
  left: 65%;
  top: -165px;
}

.card a {
  text-decoration: none;
  color: black;
}

.card_texte {
  display: flex;
  text-decoration: none;
  padding-left: 10px;
}

.card_image {
  height: 200px;
  object-fit: cover;
}

.texte {
  text-decoration: none;
  width: 80%;
}

.coeuri {
  padding-top: 25px;
  padding-left: 10px;
  width: 20%;
  flex: 1.7%;
}

.coeur {
  display: flex;
  color: transparent;
  background-color: transparent;
  -webkit-text-stroke: 2px black;
  transition-property: color;
  transition-duration: 2s;
  transform: scale(1);
  transition: transform 250ms;
}

.coeur:hover {
  display: block;
  visibility: unset;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: transparent;
  transform: scale(1.2);
}

/**Mise en page résultats de recherche*/

.Card_container {
  width: 100vw;
}

.card_image {
  width: 100%;
}

/**footer*/

.footer_container {
  background-color: #353535;
  color: white;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.box {
  padding-bottom: 5px;
  padding-left: 20px;
}

.logo_footer {
  font-family: Shrikhand;
  padding-left: 20px;
  padding-bottom: 15px;
  font-size: 18px;
}

.espace {
  padding-left: 7px;
}
.espace1 {
  padding-left: 12px;
}

#contact {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=main.css.map */
