/**CSS restaurants*/

.entete {
  display: flex;
  flex: wrap;
  justify-content: center;
  background-color: white;
  font-family: Shrikhand;
  position: relative;
}
.button_retour {
  align-items: center;
  padding-right: 40px;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 40px;
}
.img {
  width: 50px;
  height: 50px;
}

.greywrapper {
  background-color: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.greywrappertittle {
  font-family: Shrikhand;
  font-size: 20px;
  padding-top: 20px;
}
.greywrappertittle i {
  padding-left: 30px;
}
.itemmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.wrapper {
  background-color: white;
  width: 400px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 15px;
  box-shadow: 0px 8px 10px -5px grey;
  border-radius: 20px;
  text-align: start;
  display: flex;
  justify-content: space-between;
}
.wrapper_text {
  padding-left: 20px;
}
.wrapper_button {
  background-color: #99e2d0;
  width: 15%;
  height: auto;
  justify-self: right;
}
.wrapper_button {
  color: white;
  font-size: 20px;
}
.wrapper_2 {
  text-align: left;
  width: 400px;
  font-size: 30px;
  text-decoration: underline green;
}

.button {
  width: 260px;
  min-height: 60px;
  border-radius: 50px 50px 50px 50px;
  background-color: #ff79da;
  display: flex;
  margin: auto;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-bottom: 25px;
  margin-top: 25px;
  box-shadow: 0px 8px 10px -5px grey;
  font-size: 20px;
}

.button span {
  margin: auto;
  font-size: 20px;
}

/**footer*/
footer {
  margin-top: 20px;
}

.footer_container {
  background-color: #353535;
  color: white;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex: wrap;
}

.box {
  padding: 20px;
}

.logo_footer span {
  font-family: Shrikland;
  padding-left: 20px;
}

#contact {
  text-decoration: none;
  color: white;
}
